body {
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#footer {
    margin-top: 3rem;
    border-top: 1px solid #ccc;
    padding-top: 3rem;
}

#footer .container {
    margin: 0 6rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
}

.footer-left {
    width: 40%;
    height: 100px;
    padding: 0 2rem;
}

.footer-left .footer-left_text {
    display: flex;
    flex-direction: column;
}

.footer-left .footer-left_text>p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

.footer-left .footer-left_text>h5 {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 400;
}

.footer-left .footer-left_text>h6 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}

.footer-left .footer-left_text>h4 {
    max-width: 387px;
    width: 100%;
    font-size: 14px;
    line-height: calc(24/20);
    font-weight: 300;
}


.footer-right {
    width: 60%;
    padding: 0 2rem;
}

.footer-right_top {
    display: flex;
    flex-direction: row;
}

.footer-right .box-footer {
    width: 33.33%;
}

.footer-right .box-footer>h1 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer-right .box-footer>ul>li {
    margin-bottom: 12px;
}

.footer-right .box-footer p {
    font-size: 14px;

}

@keyframes animation {
    from {
        transform: translateY(30px);
    }

    to {}
}